body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:25px;
  width:375px;
  height:812px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:122px;
  width:115px;
  height:37px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#515151;
  text-align:center;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:133px;
  width:53px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#515151;
  text-align:center;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#515151;
  text-align:center;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:133px;
  width:40px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#515151;
  text-align:center;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
  font-size:17px;
  color:#FFFFFF;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:94px;
  background:inherit;
  background-color:rgba(136, 215, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:857px;
  width:376px;
  height:94px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:891px;
  width:98px;
  height:20px;
  color:#FFFFFF;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:44px;
  background:-webkit-linear-gradient(315deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  background:linear-gradient(135deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:743px;
  width:128px;
  height:44px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:224px;
  width:193px;
  height:66px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Light', 'PingFang TC Light', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:324px;
  width:73px;
  height:25px;
  font-family:'PingFangTC-Light', 'PingFang TC Light', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Light', 'PingFang TC Light', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:543px;
  width:145px;
  height:45px;
  font-family:'PingFangTC-Light', 'PingFang TC Light', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:40px;
  background:-webkit-linear-gradient(315deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  background:linear-gradient(135deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  border:none;
  border-radius:3.66665649414063px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:367px;
  width:271px;
  height:40px;
  font-size:14px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:371px;
  width:262px;
  height:32px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:32px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:40px;
  background:-webkit-linear-gradient(315deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  background:linear-gradient(135deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  border:none;
  border-radius:3.66665649414063px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:417px;
  width:271px;
  height:40px;
  font-size:14px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:421px;
  width:262px;
  height:32px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:32px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:40px;
  background:-webkit-linear-gradient(315deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  background:linear-gradient(135deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  border:none;
  border-radius:3.66665649414063px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:467px;
  width:271px;
  height:40px;
  font-size:14px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:471px;
  width:262px;
  height:32px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:32px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:123px;
  background:-webkit-linear-gradient(315deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  background:linear-gradient(135deg, rgba(10, 196, 186, 1) 0%, rgba(10, 196, 186, 1) 0%, rgba(43, 218, 142, 1) 100%, rgba(43, 218, 142, 1) 100%);
  border:none;
  border-radius:3.66665649414063px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:586px;
  width:271px;
  height:123px;
  font-size:14px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:590px;
  width:262px;
  height:113px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:113px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:44px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:743px;
  width:128px;
  height:44px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#A8DC47;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
