body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1289px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:717px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:717px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:221px;
  background:-webkit-linear-gradient(315deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  background:linear-gradient(135deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:17px;
  width:374px;
  height:221px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:44px;
  background:-webkit-linear-gradient(315deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  background:linear-gradient(135deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  border:none;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:612px;
  width:216px;
  height:44px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:44px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:612px;
  width:104px;
  height:44px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:434px;
  width:320px;
  height:178px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:453px;
  width:65px;
  height:140px;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-style:normal;
  line-height:28px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:454px;
  width:164px;
  height:140px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-style:normal;
  line-height:28px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:411px;
  width:76px;
  height:16px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:44px;
  background:-webkit-linear-gradient(315deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  background:linear-gradient(135deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  border:none;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:238px;
  width:216px;
  height:44px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:44px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:238px;
  width:104px;
  height:44px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:15px;
  width:320px;
  height:223px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:34px;
  width:65px;
  height:140px;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-style:normal;
  line-height:28px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:35px;
  width:164px;
  height:140px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-style:normal;
  line-height:28px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:206px;
  width:12px;
  height:12px;
  opacity:0.5;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:204px;
  width:17px;
  height:17px;
  opacity:0.5;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:198px;
  width:69px;
  height:28px;
  opacity:0.5;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:198px;
  width:94px;
  height:28px;
  opacity:0.5;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:186px;
  width:320px;
  height:1px;
  opacity:0.2;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:-webkit-linear-gradient(315deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  background:linear-gradient(135deg, rgba(116, 213, 75, 1) 0%, rgba(116, 213, 75, 1) 0%, rgba(214, 226, 67, 1) 100%, rgba(214, 226, 67, 1) 100%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:340px;
  width:320px;
  height:44px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:32px;
  width:37px;
  height:25px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:88px;
  width:74px;
  height:74px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:175px;
  width:51px;
  height:20px;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:88px;
  width:74px;
  height:74px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:175px;
  width:71px;
  height:20px;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:88px;
  width:74px;
  height:74px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:175px;
  width:71px;
  height:20px;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:32px;
  width:23px;
  height:23px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:238px;
  width:37px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:638px;
}
#u54_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:638px;
  overflow:auto;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:622px;
  width:375px;
  height:94px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:666px;
  width:25px;
  height:17px;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:634px;
  width:24px;
  height:26px;
}
#u58_img.mouseDown {
}
#u58.mouseDown {
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:center;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:666px;
  width:25px;
  height:17px;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:center;
}
#u59_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:center;
}
#u59.mouseDown {
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:635px;
  width:25px;
  height:25px;
  color:#BCBCBC;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:center;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:666px;
  width:25px;
  height:17px;
  font-family:'PingFangTC-Medium', 'PingFang TC Medium', 'PingFang TC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:center;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:634px;
  width:30px;
  height:26px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:629px;
  width:45px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:629px;
  width:45px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
