body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:459px;
  width:38px;
  height:39px;
  opacity:0.5;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:465px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:127px;
  width:373px;
  height:33px;
  font-size:28px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:522px;
  width:593px;
  height:50px;
  font-size:18px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:589px;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:602px;
  width:593px;
  height:50px;
  font-size:18px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:589px;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:678px;
  width:593px;
  height:50px;
  font-size:18px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:589px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:474px;
  width:76px;
  height:16px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:155px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:804px;
  width:593px;
  height:155px;
  font-size:18px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:589px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:755px;
  width:50px;
  height:39px;
  opacity:0.5;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:755px;
  width:225px;
  height:33px;
  font-size:28px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:1062px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1062px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:133px;
  height:126px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:208px;
  width:123px;
  height:116px;
  font-size:18px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:119px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:133px;
  height:126px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:208px;
  width:123px;
  height:116px;
  font-size:18px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:119px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:133px;
  height:126px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:208px;
  width:123px;
  height:116px;
  font-size:18px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:119px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:133px;
  height:126px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:208px;
  width:123px;
  height:116px;
  font-size:18px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:119px;
  word-wrap:break-word;
}
